/simplecases/target/
/uwins-security/target/
/uwins-common/target/
/uwins-common/nbproject/
/uwins-JndiMQRef/uwins-JndiMQRef-web/target/
/random/nbproject/private/
/random/build/
/random/dist/
/uwins-testmodel/nbproject/
/uwins-testmodel/target/
/uwins-historicaldb/target/